.container {
  max-width: 960px;
}

.header-text{
  color:#d26c22;
}

.search-button{
  background: #d26c22;
  border-color: #d26c22;
}

.clear-button{
  background: #22a3d2;
  border-color: #22a3d2;
}